android/remote/projectFilesBackup
src/*.o
src/mediabox
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
src/mediabox.service
src/stamp-h1
src/.deps/
sdk/build/
sdk/packages/
sdk/temp/
*.swp
*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
install-sh
missing
config.log
config.status
compile
depcomp
