android/remote/projectFilesBackup
third_party/libwebsockets/bin
third_party/libwebsockets/include
third_party/libwebsockets/share
third_party/libwebsockets/*.cmake
third_party/libwebsockets/libwebsockets_static.pc
third_party/libwebsockets/lws_config.h
third_party/libwebsockets/lws_config_private.h
include/libavbox/config.h
include/libavbox/config.h.in
include/libavbox/config.h.in~
include/libavbox/stamp-h1
src/.ycm_extra_conf.py
src/*.o
src/libavbox.la
src/.libs/
src/*.lo
src/lib/*.o
src/lib/*.lo
src/lib/.dirstamp
src/lib/ui/*.o
src/lib/ui/*.lo
src/lib/ui/.dirstamp
src/mediabox
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
src/mediabox.service
src/stamp-h1
src/stamp-h2
src/.deps/
src/lib/.deps/
src/lib/ui/.deps/
sdk/build/
sdk/packages/
sdk/temp/
sdk/var/
sdk/store.img
test/*.o
test/*.log
test/test-dummy
test/test-primitives
test/*.trs
*.swp
*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
install-sh
missing
config.log
config.status
compile
depcomp
ar-lib
libtool
ltmain.sh
test-driver
test/.deps/
